<div class="auth-top-bar">
  <h1 class="auth-top-bar-header">Create NORDEX account</h1>
  <p class="auth-top-bar-description">{{desctiption}}</p>
  <div class="auth-top-bar-with-social">
    <div class="auth-top-bar-social-btn google" (click)="googleAuth()">
      <img src="./assets/img/icons/google.svg" alt="">
      <span>with Google</span>
    </div>
    <div class="auth-top-bar-social-btn facebook" (click)="facebookAuth()">
      <img src="https://www.facebook.com/rsrc.php/v3/yN/r/szGrb_tkxMW.png" alt="">
      <span>with Facebook</span>
    </div>
  </div>
  <div class="auth-top-bar-divider-or"></div>
</div>
