<div class="auth-page">
  <div class="auth-page-content">
    <mat-tab-group mat-align-tabs="center" dynamicHeight [(selectedIndex)]="globalTabIndex">
      <mat-tab>
        <nr-auth-top-bar></nr-auth-top-bar>
        <mat-tab-group mat-align-tabs="center" dynamicHeight [(selectedIndex)]="tabIndex">
          <mat-tab label="Sign In">
            <nr-sign-in (onNavigate)="navigation($event)"></nr-sign-in>
          </mat-tab>
          <mat-tab label="Sign Up">
            <nr-sign-up (onNavigate)="navigation($event)"></nr-sign-up>
          </mat-tab>
        </mat-tab-group>
      </mat-tab>
      <mat-tab>
        <nr-forgot-password></nr-forgot-password>
      </mat-tab>
      <mat-tab>
        <nr-verify-email></nr-verify-email>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
