@import "shared";

.auth-page {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $norder-input-color;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  &-content {
    background-color: #fff;
    width: 340px;
    margin: 100px auto 100px;

    ::ng-deep .mat-tab-group > .mat-tab-header {
      display: none;
    }

    ::ng-deep .mat-ink-bar {
      display: none !important;
    }
  }
}
