<div class="sign-up">
  <form [formGroup]="newUserForm" class="sign-up-form" (submit)="submit(newUserForm)">
    <nr-validation-input
      label="Full Name"
      type="text"
      formControlName="displayName"
      placeholder="John Doe"
      [errorMessages]="displayNameValidationMessages"
    ></nr-validation-input>
    <nr-validation-input
      label="Email"
      type="text"
      formControlName="email"
      placeholder="example@example.com"
      [errorMessages]="emailValidationMessages"
    ></nr-validation-input>
    <ng-container formGroupName="passwordGroup">
      <nr-validation-input
        label="Password"
        type="password"
        formControlName="password"
        placeholder="password"
        [showEye]="true"
        [errorMessages]="passwordValidationMessages"
      ></nr-validation-input>
      <nr-validation-input
        label="Confirm password"
        type="password"
        formControlName="confirmPassword"
        placeholder="confirm password"
        [showEye]="true"
        [errorMessages]="confirmPasswordValidationMessages"
      ></nr-validation-input>
    </ng-container>
    <p class="sign-up-rules">
      By signing up, you agree to our <a [routerLink]="['/terms-and-conditions']" class="sign-up-link">Terms and
      Conditions</a>
      & <a [routerLink]="['/privacy-policy']" class="sign-up-link">Privacy Policy</a>
    </p>
    <button type="submit" class="sign-up-submit-btn">sign up</button>
  </form>
  <p class="sign-up-alternate">
    Already have account? <a class="sign-up-link" (click)="onNavigate.emit('sign-in')">Login</a>
  </p>
</div>

