<label class="validation-input-label {{isInvalid && 'wrong'}}">
  <span *ngIf="isInvalid" class="icon-notification validation-input-warning"></span>
  <span class="validation-input-label-text">{{label}}</span>
  <div class="validation-input-wrapper">
    <ng-container *ngIf="type !== 'select' && type !== 'textarea'">
      <input class="validation-input"
             #input
             (input)="change(input.value)"
             (blur)="onTouched()"
             [disabled]="disabled"
             [value]="value"
             [attr.type]="showPass || type" [attr.placeholder]="placeholder"
             [attr.step]="step"
             [attr.min]="min"
      >
      <span *ngIf="showEye" class="{{showPass ? 'icon-eye-blocked': 'icon-eye'}} validation-input-eye"
            (click)="showPass = !showPass;"></span>
    </ng-container>
    <ng-container *ngIf="type === 'textarea'">
      <textarea class="validation-input"
                #textarea
                (input)="change(textarea.value)"
                (blur)="onTouched()"
                [disabled]="disabled"
                [attr.placeholder]="placeholder"
                [value]="value">
      </textarea>
    </ng-container>
    <ng-container *ngIf="type === 'select'">
      <select class="validation-input"
                #select
                (input)="change(select.value)"
                (blur)="onTouched()"
                [disabled]="disabled"
                [attr.placeholder]="placeholder"
                [value]="value">
        <option *ngIf="placeholder" value="" disabled [selected]="!value">{{placeholder}}</option>
        <option *ngFor="let option of options" value="{{option.value}}" [selected]="value === option.value">{{option.text}}</option>
      </select>
    </ng-container>
  </div>
  <div class="validation-input-error-list" *ngIf="isInvalid">
    <ng-container *ngFor="let error of control?.errors | keyvalue">
      <div class="validation-input-error-message">
        <span class="validation-input-error-message-point">&#8226;</span>
        <span>{{errorMessages[error.key]}}</span>
      </div>
    </ng-container>
  </div>
</label>
