@import "shared";
:host-context(.ng-untouched){
  &:not(.ng-dirty){
    input[type="date"]{
      color: $nr-color-input;
    }
    select.validation-input{
      color: $nr-color-input;
      option{
        color: $nr-color-main;
      }
    }
  }
}
.validation-input {
  @extend .nr-input;

  &-wrapper {
    position: relative;
  }

  &-label {
    @extend .nr-label;
    text-transform: capitalize;

    &.wrong {
      .validation-input {
        border-color: $nr-color-alert;
      }

    }
  }

  &-warning {
    color: $nr-color-alert;
    margin-right: 8px;
    font-size: .8rem;
  }

  &-eye {
    cursor: pointer;
    position: absolute;
    color: $nr-color-main;
    top: 50%;
    right: 0;
    transform: translate(-100%, -50%);
    z-index: 2;
  }

  &-error {
    &-list {
      color: $nr-color-alert;
      padding: 0 10px;
      font-size: 0.75rem;
    }

    &-message {
      display: flex;
      margin: 0;
      &-point{
        margin-right: 5px;
      }
    }
  }
}
textarea{
  resize: none;
  width: 100%;
  height: 114px;
}
::placeholder{
  color: $nr-color-input;
}
