@import "shared";

:host {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.top-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 40px 0 10px;
}
