<mat-sidenav-container autosize>
  <mat-sidenav #sidenav mode="side" [fixedInViewport]="true">
    <nr-side-bar></nr-side-bar>
  </mat-sidenav>

  <div class="main">
    <div class="menu-btn" (click)="sidenav.toggle()">
      <div class="hamburger-icon" [class.open]="sidenav.opened">
        <span class="hamburger-line"></span>
        <span class="hamburger-line"></span>
        <span class="hamburger-line"></span>
      </div>
    </div>
    <nr-top-bar [sidenav]="sidenav"></nr-top-bar>
    <router-outlet></router-outlet>
    <nr-footer></nr-footer>
  </div>

</mat-sidenav-container>
