@import "shared";

:host {
  display: block;
  margin-bottom: 5px;
}

.transaction {
  // fix material default styles
  .mat-expansion-panel {
    border: 1px solid transparent;

    &:not(.mat-expanded) {
      box-shadow: none !important;
      border: 1px solid $norder-second-color;
    }

    &-header {
      cursor: default !important;
      padding: 0 0 0 5rem !important;

      &-title {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
      }
    }

    ::ng-deep &-body {
      padding-left: 4rem !important;
      background-color: $norder-second-color;
    }

  }

  &-toggle-btn {
    user-select: none;

    &.collapsed {
      background-color: $norder-gray-color;

      .icon-chevron {
        transform: rotate(-90deg);
      }
    }

    transition: .3s;
    background: $norder-purple-color;
    position: absolute;
    left: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 3px;
    font-size: 1.3rem;
    width: 25px;
    height: 25px;
  }

  span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }


  &-date {
    flex: 5;
  }

  &-account {
    flex: 8;
  }

  &-other-party {
    flex: 12;
  }

  &-type {
    flex: 6;
  }

  &-direction {
    flex: 6;
  }

  &-amount {
    flex: 5;
  }

  &-menu {
    flex: 1;
  }

  &-action-menu-btn {
    opacity: 0.4;
    transition: .3s;

    &:hover {
      opacity: 1;
    }
  }

  &-body {
    max-width: calc(50% + 30px);

    &-header {
      span {
        font-weight: 600;
      }

    }

    &-content {
      background-color: #fff;
      margin-bottom: 3px;
      border-radius: 3px;
    }

    &-header, &-content {
      display: flex;
      padding: 10px 15px;

      &-date {
        flex: 1.2;
      }

      &-account {
        flex: 2
      }

      &-debit {
        flex: 1
      }

      &-credit {
        flex: 1;
      }
    }

  }
}

.icon-chevron {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  transform-origin: center;
  transition: .3s;
}
