@import "shared";

.search {
  display: flex;
  align-items: center;
  border: 1px solid $nr-color-gray;
  border-radius: 3px;
  color: $nr-color-gray;

  & > .icon-search {
    user-select: none;
    padding: 6px;

    &:before {
      color: $nr-color-gray;
      font-size: 1.5rem;
    }
  }

  &-input {
    color: $nr-color-gray;
    font-size: 1rem;

    &::placeholder {
      color: lighten($nr-color-gray, 10%);
      font-size: 1rem;
    }

    &, &:active {
      border: none;
      outline: none;
    }
  }
}
