// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$norder-primary: mat.define-palette(mat.$indigo-palette);
$norder-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$norder-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$norder-theme: mat.define-light-theme((
  color: (
    primary: $norder-primary,
    accent: $norder-accent,
    warn: $norder-warn,
  )
));


// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($norder-theme);

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Poppins, sans-serif;
}

//normalize list
ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

@import "scss/shared";

* {
  box-sizing: border-box;
}

button {
  &,
  &:focus,
  &:active {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
  }
}

button, *[role='button'], *[class*="btn"] {
  user-select: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: $nr-color-dark-gray;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: $nr-color-gray;
}

::-webkit-scrollbar-thumb:active {
  background: $nr-color-gray;
}

::-webkit-scrollbar-track {
  background: $nr-color-input;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: $nr-color-input;

}

::-webkit-scrollbar-track:active {
  background: $nr-color-input;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
