@import "variables";

.page {
  background-color: $nr-color-second;
  padding: 50px 60px;
}

@mixin auth {
  margin: 15px;

  &-label {
    @extend .nr-label
  }

  &-pass-wrapper {
    position: relative;
  }

  &-input {
    @extend .nr-input
  }
  &-input-toggle {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-100%, -50%);
    z-index: 2;
  }

  &-submit-btn {
    @extend .nr-btn-info;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    margin: 20px auto;
    padding: 10px 40px;
  }

  &-rules {
    @extend .nr-sub-text;
    text-align: center;
    line-height: 1.3rem;
  }
  &-link {
    color: $nr-color-main;
    cursor: pointer;
  }
  &-alternate {
    text-align: center;
    color: $nr-color-input;
  }
}

.nr-sub-text {
  font-size: 0.8rem;
  font-weight: 200;
  color: $nr-color-input;
}

.nr-btn-info {
  background-color: $nr-color-info;
  color: white;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 1rem;
}

.nr-header-mid {
  font-weight: 600;
  font-size: 1.5rem;
  color: $nr-color-main;
}

.nr-label {
  display: block;
  margin-bottom: 15px;
  color: $nr-color-main;
  font-size: 1rem;
  font-weight: 600;
}

.nr-input {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
  padding: 10px 15px;
  border: 1px solid $nr-color-input;
  border-radius: 5px;
  transition: .3s;

  &, &:focus {
    outline: none;
  }

  &:focus {
    border-color: $nr-color-gray;
  }
}
