$nr-color-main: rgb(43, 46, 74);
$nr-color-second: rgb(248, 248, 251);
$nr-color-info: rgb(120, 104, 230);
$nr-color-success: rgb(76, 202, 156);
$nr-color-alert: rgb(255, 109, 116);
$nr-color-footer: rgb(242, 242, 245);
$nr-color-gray: rgb(128, 130, 146);
$nr-color-dark-gray: rgb(73, 73, 73);
$nr-color-input: rgb(229, 229, 229);


$top-bar-height: 55px;
$footer-height: 25px;
